/* Global Styles */
body{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  /* Utility Classes */
  .text-center {
    text-align: center;
  }
  
  /* Project List Styles */
  .project-list {
    margin: 0 auto;
    max-width: 960px; /* Increased for wider screens */
    padding: 20px;
  }
  
  .project {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #eaeaea; /* Lighter border color */
    border-radius: 10px; /* Slightly larger radius for a softer look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transitions for hover effects */
  }
  
  .project:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Enhanced shadow on hover */
  }
  
  .project h2 {
    margin-top: 0;
    color: #007bff; /* Unified color for title and links */
  }
  
  .project a {
    color: inherit; /* Ensures the link color matches the parent element */
    text-decoration: none;
  }
  
  .project a:hover {
    text-decoration: underline;
  }
  
  .project p {
    font-size: 1rem;
    color: #666; /* Slightly lighter color for the description text */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .project-list {
      padding: 10px;
    }
  
    .project {
      padding: 15px;
    }
  }
  