{% extends "index.html" %}

{% block content %}
<div style="text-align: center; color: white; text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">
    <h1 style="margin-top: 20px;">All Projects</h1>
    
    {% for project in section.pages %}
    <div style="margin-bottom: 20px;">
        <h2>
            <a href="{{ project.permalink }}" style="text-decoration: none; color: inherit; background-color: rgba(0,0,0,0.5); padding: 2px 6px; border-radius: 4px;">
                {{ project.title }}
            </a>
        </h2>
        <p style="background-color: rgba(0,0,0,0.5); padding: 2px 6px; border-radius: 4px;">
            {{ project.description | safe }}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock content %}


